*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: auto; */
  border: 1px solid rgb(0, 255, 85);
  margin: .55rem;
  padding: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
.left-links, .right-links{
  display: flex;
  border: 1px solid blue;
  max-width: 300px;
  /* padding: .5rem 0; */

}
.links-r {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: .5rem 0;
  margin-right: .5rem;
  gap: 14px;

  border: 1px solid red;
}
.links-l {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: .5rem 0;
  margin-left: .5rem;
  gap: 14px;

  border: 1px solid red;
}
